footer {
    .footer-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        padding: 0;
         
        a {
            color: $color-primary;
            padding-bottom: $padding-b;
           
            font-size: small;
            font-weight: 700;
        }
    }
    
   
   
}
@media (min-width: 320px) {
    
    .footer-container {
        padding-inline: calc(2vw + 0.5rem);

    }
    
}

@media (min-width: 480px) {
  
    .footer-container {
        padding-inline: calc(5vw + 3.5rem)

    }
    
    
}

@media (min-width: 768px) {
    
    .footer-container {
        padding-inline: calc(5vw + 12rem)

    }
    
    
}
@media (min-width: 1024px) {
    
    .footer-container{
        padding-inline: calc(8vw + 18rem)

    }
    
    
    
}


