header {
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    div {
        height: 3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 1rem;
        border: solid 1px $color-secundary;
        i {
            color: $color-primary;
        }   
    }
    .login {
        width: 100%;
        display: flex;
        justify-content: space-between;
        a {
            text-decoration: none;
            font-weight: 900;
        }
        p { font-weight: 900;}   
    } 
}
@media (min-width: 1024px) {
    header {
        visibility:hidden;
    }    
}
