*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.titel {
    padding: 1rem;
    
    img {
        width: 150px;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $color-link;
    font-weight: 900;
}
span {
    font-size: small;
}

